/* brackpoint - 320px */
/* brackpoint - 375px */
/* brackpoint - 425px */
/* brackpoint - 768px */
/* brackpoint - 1024px */


@media screen and (min-width: 320px){.modal-conteiner{

  /* height: 608px; */
  /* width: 364px; */
  /* padding: 110px 40px; */
  padding: 70px 30px;
  
  }
}
@media screen and (min-width: 375px){.modal-conteiner{

  /* height: 608px; */
  width: 364px;
  padding: 110px 40px;
  /* padding: 70px 30px; */
  
  }
}




@media screen and (max-width: 479px) {

.wrapper{
  padding: 15px;
}

  .contact-mobile{
  display: grid;
  padding-bottom: 15px;
    
  }

  .contact-section-bottom{
    order: 2;

  }
  .expiriens-section-top{
    order: 1;
    margin-bottom: 20px;
  }

/* ===================my-info-sections============= */

.my-info-section{
  padding: 20px;
}

  .description-hero {
  /* font-size: 48px;
  line-height: 48px; */
  padding: 0 10px;
  font-size: 32px;
  line-height: 38px;

}
.description-live{
  margin-bottom: 50px;
}
.list-cases{
  
  /* text-align: start; */
}

}

@media screen and (min-width: 480px) {

  .wrapper {
  /* width: 480px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  
}


  .contact-mobile{
    padding: 20px;
 
  }
  .contact-section {
 position: absolute;
  right: 20px;
  top: 30px;
}
  .my-info-section{
    padding: 20px;
    justify-content: center;
}

.description-live {
  
  margin-bottom: 50px;
}
.description-name{
  font-size: 18px;
}
.form-price {
  padding: 20px 60px;
 grid-column-start: 1;
 grid-column-end: 4;
  /* width: 33%; */
}
  .form-price-form {
  padding: 60px;
  
}

.modal-conteiner{
  
  height: 608px;
  padding: 110px 40px;
  
  }

}

@media screen and (min-width: 618px){
   .contact-section {
 
  right: 80px;
 
}
}

@media screen and (max-width: 767px) {
 

}
@media screen and (min-width: 768px) {
  .wrapper {
 width: 768px;
 
 
}
   .form-price-form {
  padding: 40px;
  
}

}

@media screen and (min-width: 980px) {
  .wrapper {
 width: 980px;
 margin: 20px auto;
 /* padding: 60px 0 20px 0; */
 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: flex-start;
  align-items: flex-end;
  }

  .contact-section {
 
  right: 360px;
 
}

  .description-live{
    text-align: center;
  }

.my-info-section{
  text-align: start;
}

  .form-price {
  padding: 20px ;
 grid-column-start: 4;
 grid-column-end: 3;
  /* width: 33%; */
}
  .form-price-form {
  padding: 30px;
  
}
 
}

